################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EFDatatable/v15/Server/sqlite3
/EFDatatable.Web/bin
/EFDatatable.Web/bin/Debug
/EFDatatable.Web/obj/Debug
/EFDatatable.Web/bin/Release
/EFDatatable.Web/obj/Release

/EFDatatable.Data/obj/Debug
/EFDatatable.Data/obj/Release
/EFDatatable.Data/bin

/EFDatatable/bin
/EFDatatable/obj/Debug
/EFDatatable/obj/Release

/.vs/EFDatatable/v15
/.vs/EFDatatable/v16
/.vs/EFDatatable/DesignTimeBuild
/packages

/EFDatatable/nuget.exe
/EFDatatable/EFDatatable.nuspec
/EFDatatable/EFDatatable.1.0.0.nupkg
