################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EFDatatable/v15/Server/sqlite3
/EFDatatable.Net/bin
/.vs/EFDatatable/v15
/EFDatatable.Net/obj/Debug
