@using EFDatatable.Net.Models

@{
    ViewBag.Title = "DataTable";
}

<h2>DataTable</h2>

@(Html.EK().GridFor<Person>()
        .Name("PersonGrid")
        .Searching(false)
        .Columns(cols =>
        {
            cols.Field(a => a.Id).Visible(true).Orderable(false);
            cols.Field(a => a.Name).Title("First Name");
        })
        .URL(Url.Action("GetDataResult"), "POST")
        .ServerSide(true)
        .Render()
        )
