@using EFDatatable.Web.Models
@using EFDatatable

@{
    ViewBag.Title = "DataTable";
}
<hr />

@(Html.EF().Datatable<Person>()
    .Name("PersonGrid")
    .Captions("top caption")
    .Paging(true)
    //.Language(Url.Content("/Scripts/Turkish.json"))
    .Columns(cols =>
    {
        cols.Field(a => a.Id).Visible(false);
        cols.Commands(a => a.Id, "Action", commands: new[] { new Command("Delete", "onDelete"), new Command("Update", "onUpdate") }).Title("Actions");
        cols.Field(a => a.Name).Title("First Name").Searchable(true);
        cols.Field(a => a.Age).Title("Age").Searchable(true);
        cols.Field(a => a.IsActive).Title("Active").Template("(data === true) ? '<span class=\"glyphicon glyphicon-ok\"></span>' : '<span class=\"glyphicon glyphicon-remove\"></span>'");
        cols.Field(a => a.BirthDate).Title("Birth Date").Format("DD-MMM-Y").Class("text-danger");
        cols.Command(a => a.Id, "onClick", iconClass: "glyphicon glyphicon-edit").Title("");
    })
    .Filters(filter =>
    {
        filter.Add(a => a.Id).GreaterThanOrEqual(1);
    })
    .Data("addParam")
    .URL(Url.Action("GetDataResult"), "POST")
    .ServerSide(true)
    .Render()
)

<script>
    function addParam() {
        return { Param1: "test1", Param2: true, Param3: 5 };
    }

    function onClick(e) {
        alert(e);
    }
</script>
